#wrapper{
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: inline-flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;

}

#answer{
    text-align: center;
    color: white;
}

